<div class="radzen-nav">
    <RadzenPanelMenu Style="background:transparent; border:0;">
        <AuthorizeView>
            <Authorized>
                <RadzenPanelMenuItem Text="Kontrol Paneli" Path="/" Icon="home" />
                <RadzenPanelMenuItem Text="Cariler" Path="/currents" Icon="account_circle" />
                <RadzenPanelMenuItem Text="Cari Gruplar" Path="/current-groups" Icon="group_work" />
                <RadzenPanelMenuItem Text="Döviz Kodları" Path="/currency-codes" Icon="currency_exchange" />
                <RadzenPanelMenuItem Text="Mutabakatlar" Path="/reconciliations" Icon="description" />

                <AuthorizeView Roles="Admin" Context="adminContext">
                    <Authorized>
                        <RadzenPanelMenuItem Text="Firmalar" Path="/companies" Icon="business" />
                        <RadzenPanelMenuItem Text="Kullanıcılar" Path="/users" Icon="people" />
                        <RadzenPanelMenuItem Text="Loglar" Path="/auth/logs" Icon="receipt_long" />
                    </Authorized>
                </AuthorizeView>
                <RadzenPanelMenuItem Text="Çıkış Yap" Path="/logout" Icon="logout" />
            </Authorized>

            <NotAuthorized>
                <RadzenPanelMenuItem Text="Giriş Yap" Path="/login" Icon="login" />
            </NotAuthorized>
        </AuthorizeView>
    </RadzenPanelMenu>
</div>